<aside class="sidebar">
    <div class="sidebar__wrapper custom-sidebar-scroll" data-simplebar>
        <div class="sidebar__toc-wrapper">
            <h4 class="sidebar__title">{{t "On This Page"}}</h4>
            <ul class="sidebar-toc"></ul>
        </div>
        <div id="{{slug}}" class="sidebar__client-wrapper"></div>
    </div>
</aside>