<div class="main-header">
    <h1 class="main-header__title">{{t "Explore Posts"}}</h1>
    <button class="main-header__toggle" data-post-type="board">
        <span class="main-header__toggle-btn">{{t "Board"}}</span>
        <span class="main-header__toggle-btn">{{t "List"}}</span>
    </button>
</div>